<div class="block">

  <strong>Employee Model</strong><br>
  
  <pre>{{employee | json }}</pre>
  <pre>{{skills | json }}</pre>
  
  </div>

  <div class="block">

      <strong>Angular Generated Form Model</strong><br>
      
      <pre> name: {{name.value | json}}</pre>
      <pre>salary: {{salary.value | json}}</pre>
      <pre>permanentStaff: {{permanentStaff.value | json }}</pre>
      
      </div>


<h1>Edit Employee</h1>
<label for="name">Name</label><br>
<span><div><input type="text" id="name" name="name"  class="form-control" [(ngModel)]="employee.firstName" #name="ngModel" minlength="2" maxlength="10" required>
</div>

<div id="warn" *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert">

  <div *ngIf="name.errors?.required">
    Name is required.
  </div>
  <div *ngIf="name.errors?.minlength">
    Name must be at least 2 characters long.
  </div>
  
</div></span>
<span>
<div><br>
    <label for="salary">Salary</label><br>
    <input type="text" id="salary" name="salary" class="form-control" [(ngModel)]="employee.salary" #salary="ngModel" required>
</div>
<div id="warn" *ngIf="salary.errors?.required">
    Salary is required.
  </div><br>

  <form>
    Is Permanent or Not?<br>
    <input type="radio" name="permanent" id="permanentTrue" [(ngModel)]="employee.permanentStaff" #permanentStaff="ngModel" value="true">Yes
    <input type="radio" name="permanent" id="permanentFalse" [(ngModel)]="employee.permanentStaff" #permanentStaff="ngModel" value="false">No
  </form><br>
  <div class="form-group">
    <label for="departments">Department</label><br>
    <select  class="form-control" id="departments" required [(ngModel)]="employee.deptName">
      <option *ngFor="let dep of deptName" [ngValue]="dep">{{dep.name}}</option>
    </select>
  </div><br>
  <button type="submit" (click)="onSubmit()" [disabled]="!name.valid || !salary.valid">Save</button><br>
  <p>{{result}}</p>

</span>