

<h1>Edit Employee</h1>
<form [formGroup]="empForm">
Name:<br> <input type="text" id="name" class="form-control"
formControlName="name" >
<div id="warn" *ngIf="name?.invalid && (name?.dirty || name?.touched)"
    class="alert alert-danger">

  <div *ngIf="empForm.get('name')?.errors?.required">
    Name is required.
  </div>
  <div *ngIf="empForm.get('name')?.errors?.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="empForm.get('name')?.errors?.maxlength">
    Name must be less than 20 characters .
  </div>
  
</div>
